.calculate
	padding: 50px 0
	&-top
		position: relative
		bottom: 180px
		display: flex
		align-items: flex-end
		.main-title
			min-width: 200px
			margin-bottom: 76px
		&__bg
			position: absolute
			left: 0
			top: 0
			background-color: #f9d50f
			height: 100%
			width: 200%
		&__main
			position: relative
			padding: 40px 60px 60px
			padding-right: 0
		&__content
			position: relative
	&-form
		display: flex
		background-color: #ffffff
		&__left
		&__right