mixin calculate()
	+b('section').calculate
		.container
			+b.calculate-top
				+b('h2').main-title Just $7/hour <br>
					+e('span').small per operator
				+e.main
					+e.bg
					+e.content
						p
							span.extra-bold Remote workers - are professionals working
							|  outside of a traditional office environment. The concept is: the work does not need to be done in a 					 					 	 specific place to be accomplished successfully. Remote work can be done from anywhere where the           						 internet connection exists.
						p
							|The only difference between the remote employee and your office staff - that now you work together
							span.extra-bold  Online using the latest apps for virtual work:
							|  chat and communication systems, professional telecommunication base stations and so on.
						p
							|At this point, the company starts saving on office-related expenses, equipment, HR, taxes‍. The hourly rate 							 of the
							span.extra-bold  remote employee on 30%
							|  lower than the average rate of the on-site employee
			a(name="calculate")
			+b('form').calculate-form
				+e.left
					+b('h2').main-title
						|Save up
						+e('span').small  to 65% on salaries
						|  today
					button.button-main(type="button") calculate
				+e.right
					+e.selects
						+e.selects-item
							.select-label Select State in USA
							.select-wrap
								input.input-hidden(type="hidden")
								.select.js-currStatePrice(data-currPrice="0", data-ourPrice="7")
									span Alabama
								.select-options
									.select-option.js-statePrice(data-basePrice="7.25", data-tax="6.2+1.45+3") Alabama
									.select-option.js-statePrice(data-basePrice="9.84", data-tax="6.2+1.45+4") Alaska
									.select-option.js-statePrice(data-basePrice="10.50", data-tax="6.2+1.45+6") Arizona
									.select-option.js-statePrice(data-basePrice="8.50", data-tax="6.2+1.45+10") Arkansas
									.select-option.js-statePrice(data-basePrice="11.001", data-tax="6.2+1.45+4") California
									.select-option.js-statePrice(data-basePrice="10.20", data-tax="6.2+1.45+6") Colorado
									.select-option.js-statePrice(data-basePrice="10.10", data-tax="6.2+1.45+4") Connecticut
									.select-option.js-statePrice(data-basePrice="8.25", data-tax="6.2+1.45+5") Delaware
									.select-option.js-statePrice(data-basePrice="13.25", data-tax="6.2+1.45+4") District of Columbia
									.select-option.js-statePrice(data-basePrice="8.25", data-tax="6.2+1.45+4") Florida
									.select-option.js-statePrice(data-basePrice="7.25", data-tax="6.2+1.45+5") Georgia
									.select-option.js-statePrice(data-basePrice="10.10", data-tax="6.2+1.45+3") Hawaii
						+e.selects-item
							.select-label Select Service
							.select-wrap
								input.input-hidden(type="hidden")
								.select
									span Help desk support
								.select-options
									.select-option Help desk support
									.select-option Call center - inbound/outbound
									.select-option Telemarketing operator
									.select-option Telecommunication manager
									.select-option Market survey/research
									.select-option Data entry operator
									.select-option Virtual receptionist
									.select-option Bookkeeping
									.select-option Outsourcing of HR/Other services
									.select-option Remote technical support services
									.select-option Outsource dispatch operator
									.select-option Dispatch services
						+e.selects-item
							.select-label Employees
							.select-wrap
								input.input-hidden(type="hidden")
								.select.js-currEmployee(data-currEmployee="1")
									img.select-img(src="assets/images/icons/user.png" width="20" height="20")
									span 1
								.select-options
									.select-option.js-employee(data-employee="1") 1
									.select-option.js-employee(data-employee="2") 2
									.select-option.js-employee(data-employee="3") 3
									.select-option.js-employee(data-employee="4") 4
									.select-option.js-employee(data-employee="5") 5
									.select-option.js-employee(data-employee="5") 5
									.select-option.js-employee(data-employee="6") 6
									.select-option.js-employee(data-employee="7") 7
									.select-option.js-employee(data-employee="8") 8
									.select-option.js-employee(data-employee="9") 9
									.select-option.js-employee(data-employee="10") 10
									.select-option.js-employee(data-employee="10+") 10+
						+e.selects-item
							.select-label In week
							.select-wrap
								input.input-hidden(type="hidden")
								.select.js-currTime(data-currTime="1")
									img.select-img(src="assets/images/icons/clock.png" width="20" height="20")
									span 1 hour
								.select-options
									.select-option.js-time(data-time="1") 1 hour
									.select-option.js-time(data-time="5") 5 hour
									.select-option.js-time(data-time="10") 10 hour
									.select-option.js-time(data-time="10") 15 hour
									.select-option.js-time(data-time="20") 20 hour
									.select-option.js-time(data-time="30") 30 hour
									.select-option.js-time(data-time="40") 40 hour
									.select-option.js-time(data-time="50") 50 hour
									.select-option.js-time(data-time="999") 50+ hour
					+e.price
						+e.price-item
							+e.price-main.js-stateFinalPrice $14
							+e.price-title standard price
						+e.price-item
							+e.price-main.__price-main--advantageous.js-ourFinalPrice $7
							+e.price-title our advantageous offer
