mixin steps()
	+b('section').steps
		a(name="steps")
		.container
			+b.steps-top
				h1.main-title how does it work?
				+e('p').desc
					|Being our client, you delegate us all your employeess’ tasks. We take care of the installing the needed 					 equipment and coordinating the work of the operators - and you get a detailed report on the work that has been 					 done and the tasks that have been completed.
			+b.steps-main
				+e.item
					img(src="assets/images/icons-big/analysis.png" width="64" height="64")
					+e('span').number 1 step
					+e('span').title Introduction
					p
						|You give us an information about what you exactly need. We will analyze every detail and work on it.
				+e.item
					img(src="assets/images/icons-big/analytics.png" width="64" height="64")
					+e('span').number 2 step
					+e('span').title Development plan
					p
						|We create a development project “plan”. We select professionals, train them specifically to fit your 						 requirements and make them familliar with the tasks.
				+e.item
					img(src="assets/images/icons-big/team.png" width="64" height="64")
					+e('span').number 3 step
					+e('span').title Team working
					p
						|We schedule an interview for you and your new staff and give a free 7 days for training the employee.
				+e.item
					img(src="assets/images/icons-big/rocket.png" width="64" height="64")
					+e('span').number 4 step
					+e('span').title Project start br (With up to 65% economy)
					p
						|Run the project. From this day you save up to 65% of the budget on the office expenses.
				+e.item
					img(src="assets/images/icons-big/podium1.png" width="64" height="64")
					+e('span').number 5 step
					+e('span').title Sucessfull cooperation
					p
						|We provided you with a daily/ weekly report and analyze the effeciency, to optimize your company expenses 						 more with additional