mixin header()
  +b('header').header
    .bg__line.header__line1
    .bg__line.header__line2
    .bg__line.header__line3
    .bg__line.header__line4
    .container
      +e.top
        a(href="/")
          img(src="assets/images/logo.png" width="177" height="38")
        +e.menu-btn
          span
          span
          span
        +e('ul').menu.menu
          +e('li').menu-img
            a(href="/")
              img(src="assets/images/logo.png" width="177" height="38")
          li
            a(href="#steps").menu-link How does it work?
          li
            a(href="#calculate").menu-link Calculate
          li
            a(href="#contact").menu-link Contact
          li
            a(href="#").menu-link SERVICES
          li
            a(href="#").menu-link ABOUT US
          li
            a(href="#").menu-link FAQ
          li
            a(href="#").menu-link INSIGHTS
          li
            a(href="#").menu-link HIRE NOW
          li
            a(href="#").menu-link(title='FRONT DESK HELPERS – СAREERS| WE ARE HIRING | CALL CENTER RESPRESENTATIVE') FRONT DESK HELPERS – СAREERS| WE ARE HIRING | CALL CENTER RESPRESENTATIVE
      <img src="https://frontdeskhelpers.com/wp-content/themes/FrontDH/images/logo/HIPAA_compliance2.png" alt="">
      +e.main
        +e.left
          .mouse-aside
            .mouse-aside__line
            span scroll
          +e.left-title-wrap
            h1.main-title Boost Your Revenue Immediately
          +e.left-desc
            p.
              We provide a solution based on remote employees, to reduce your company expenses up to 65%. What you finally 							get? A competitive pricing - most of the remote positions are paid just $7.00 USD/hour per operator. We work 							full-time or part-time shifts, in any time zone business hours or even cover your operations 24x7x365.
            p.
              Hire a professional starting from $280/week with no extra <br>
              expenses - only profit.
          +e.left-bottom
            button.button-main(type="button") try now
            +e.left-video-link
              p we recommend that you
                span.header__left-video-link_btn.video-btn-js watch the video
              img(src="assets/images/icons/youtube.png" width="20" height="20")
        +e.right
          +e.right-hour
            +b('h2').main-title Just $7/hour <br>
              +e('span').small  per operator
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 							dolore magna aliqua.
            a(href="#").link-more see more
          +e.right-week.week
            h2.week__title professional<br>
              span.week__title_small starting
            span.week__salary $280/week
              span.week__line
            a(href="#").link-more see more
          +e.right-about
            +e.right-about--main
              +b('h2').main-title about us <br>
                +e('span').small  our clients
              a(href="#").link-more see more
            +b.client-card-slider.jsClientSlider
              +b.client-card
                img(src="assets/images/slider/1.png" width="134" )
                +e.desc
                  +e('span').desc--title Tracie A.
                    +e('span').desc--city  New York
                  +e.desc--main
                    p.
                      "The team is doing very well. We are extremely pleased."
              +b.client-card
                img(src="assets/images/slider/2.png" width="134" )
                +e.desc
                  +e('span').desc--title Willie B.,
                    +e('span').desc--city  New York
                  +e.desc--main
                    p.
                      FDH are a great service. Their dispatching team gets the job done well and resolves any hiccups along the way. They grew with us comfortably as our range expanded. The team kept up with no problem and were a big help. The team is doing very well we are extremely pleased.
              +b.client-card
                img(src="assets/images/slider/3.png" width="134" )
                +e.desc
                  +e('span').desc--title Byron L.,
                    +e('span').desc--city  New York
                  +e.desc--main
                    p.
                      Front Desk Helpers is a great company to work with. They're professional, innovative, and have a personal approach to any job instead of a one-size-fits-all idea. We started small with a couple front desk, customer-service kind of operators and were more than happy to start working with FDH in other parts of our business like back-end tasks here and there.
              +b.client-card
                img(src="assets/images/slider/4.png" width="134" )
                +e.desc
                  +e('span').desc--title Carla A.
                    +e('span').desc--city
                  +e.desc--main
                    p.
                      They are providers for my own office call center. They helped me to connect all equipment and a phone line, with a technical support 24/7. We are operating on their own platform, which is providing different options for my business needs. Very flexible, easy to connect and use. I am very satisfied with our cooperation