.header
  position: relative
  background-color: #282828
  & .container > img
    width: 180px
    height: auto
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 0

  &__menu
    width: 60%
    transition: all ease 1s
    @media (max-width: 1200px)
      margin-right: 0
    @media (max-width: 992px)
      position: fixed
      top: -100%
      right: 0
      bottom: 100%
      left: 0
      flex-direction: column
      justify-content: space-evenly
      background-color: #282828
      z-index: 100
    li,
    li a
      flex: 1 1 auto
    &_show
      top: 0
      bottom: 0
    &-img
      @media (min-width: 993px)
        display: none !important
    &-btn
      position: fixed
      top: 10px
      right: 10px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly
      width: 35px
      height: 35px
      padding: 1px 0
      background-color: #282828
      border-radius: 5px
      box-sizing: border-box
      z-index: 101
      span
        width: 23px
        height: 3px
        background-color: #f7d100
      @media (min-width: 993px)
        display: none
  &__main
    display: flex
    flex-wrap: wrap
    margin-top: 60px
  &__left
    position: relative
    width: 50%
    padding-right: 70px
    color: #ffffff
    box-sizing: border-box
    @media (max-width: 1200px)
      width: 100%
      padding-right: 0
    &-title-wrap
      display: flex
      justify-content: flex-end
    &-desc
      p
        margin-bottom: 20px
    &-bottom
      display: flex
      flex-direction: column
      align-items: center
      width: fit-content
      margin-top: 30px
      @media (max-width: 1200px)
        width: auto
    .main-title
      margin-top: 0
      margin-bottom: 15px
      max-width: 374px
      @media (max-width: 1200px)
        max-width: none
    &-video-link
      display: flex
      align-items: center
      font-size: 14px
      &_btn
        text-decoration: underline
        margin: 0 5px
        cursor: pointer
  &__right
    width: 50%
    display: flex
    flex-wrap: wrap
    overflow: hidden
    @media (max-width: 1200px)
      width: 100%
    &-hour
      width: 40%
      background-color: #f7d100
      padding: 35px 15px 20px
      box-sizing: border-box
      @media (max-width: 576px)
        width: 100%
      .link-more
        margin-top: 45px
        display: block
        text-align: right
    &-week
      width: 60%
      margin-top: -122px
      background-image: url(../images/header-photo.png)
      @media (max-width: 1200px)
        margin-top: 0
      @media (max-width: 576px)
        width: 100%
    &-about
      width: 100%
      display: flex
      flex-wrap: wrap
      background-color: #ffffff
      padding: 15px
      //@media (max-width: 576px)
      //  width: 94%
      &--main
        width: 35%
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        padding-left: 10px
        box-sizing: border-box
        @media (max-width: 576px)
          width: 100%
          margin-bottom: 20px

.client-card-slider
  width: 65%
  @media (max-width: 576px)
    width: 100%
  & .slick-slide
    margin-right: 1px
.prevSlick, .nextSlick
  position: absolute
  top: 170px
  display: flex
  align-items: center
  background: none
  border: none
  outline: none
  cursor: pointer
  z-index: 2
  @media (max-width: 426px)
    top: 10px
  & img
    width: 40px
    height: 30px
.prevSlick
  transform: rotate(180deg)
  @media (max-width: 426px)
    left: 150px
.nextSlick
  left: 50px
  @media (max-width: 426px)
    left: 200px
.client-card
  display: flex !important
  align-items: flex-start
  width: 90% !important
  @media (max-width: 426px)
    flex-direction: column
  & img
    min-width: 134px
  &__desc
    margin-top: 10px
    margin-left: 10px

    @media (max-width: 426px)
      margin-top: 20px
    &--title
      text-transform: uppercase
      font-family: 'Muller-Extra-Bold', sans-serif
      font-size: 14px
    &--city
      font-family: 'Muller-Medium', sans-serif
      text-transform: none
    &--main
      p
        margin-bottom: 0
.bg__line
  position: absolute
  background-color: #454545
  width: 1px
  top: 0
  bottom: 0
  @media (max-width: 1300px)
    display: none

.header__line1
  top: 50%
  left: 20px

.header__line2
  left: calc((100% - 1170px) / 4 + 10px)

.header__line3
  left: calc((100% - 1170px) / 2)
  bottom: 50%

.header__line4
  right: calc((100% - 1170px) / 4 + 20px)

#catapult-cookie-bar
  margin-bottom: 140px