mixin video()
	+b('section').video
		+e.block-yellow
		.container
			+b('h1').main-title New opportunities
				+e('span').small  for your business
			+e('span').recommend we recommend that you
				+e('span').recommend-big  watch this video <br>
			+e('button').btn.video-btn-js
				img(src="assets/images/icons/youtube.png" width="64" height="64")

